.root{
    -fx-background-color: WHITE;
}

#vboxMenu{
    -fx-background-color: LIGHTGREEN;
    -fx-border-color: LIGHTGRAY;
}

.button{
    -fx-background-color: LIGHTGREEN;
    -fx-border-color: WHITE;

}

#btnMenu{
    -fx-background-color: LIGHTGREEN;
}